{% extends "layout/base.html" %}
{% from 'schedules/macros.html' import insert_schedule_row, table_head_days, schedule_table %}
{% block content %}

<div class="container-fluid">
  <form action="/schedule/add/{{ week_id }}" method='post'>
    <table class="table mt-2">
      {{ insert_schedule_row(users) }}
    </table>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-raised white-text blue-grey darken-1">Add To Schedule</button>
        <a href="/schedule" class="btn btn-raised white-text red lighten-2 ml-3">Exit</a>
      </div>
    </div>
  </form>

  {% if current_schedule %}
  {{ schedule_table(schedule=current_schedule, edit_col=true) }}
  {% endif %}
</div>


{% endblock %}
