<!--Calendar-->
{% macro calendar() %}
<div class="col-12 col-sm-6">
  <label class="font-weight-bold">START DAY</label>
  <div class="input-group">
    <input type="date" class="form-control" name="start_day" />
    <div class="input-group-append">
      <div class="input-group-text">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- This is the schedule modal -->
{% macro scheduleModal() %}
<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scheduleModalLabel">Select schedule week</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/schedule" method="post">
          <div class="container">
            <div class="row">
              {{ calendar() }}
              <div class="col-12 col-sm-6">
                <label class="font-weight-bold">Week(s)</label>
                <div class="input-group">
                  <input type="text" class="form-control text-center" value="1" disabled />
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="fas fa-calendar-week"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-block btn-raised btn-secondary mt-4">Go To Scheduling
                Table</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endmacro %}

<!-- This are the select buttons in schedule box for time of a day -->
{% macro select_hours(time, state, edit_day) %}
<div class="container">
  <div class="row">
    <div class="form-group col-12 col-sm-12 col-md-6">
      <select class="form-control text-center" name="{{ time }}">
        <option>OFF</option>
        {% for n in range(1, 13) %}
        {% if edit_day %}
        {% set list = edit_day.split(' ') %}
        <option {% if list[0] == n|string %}selected{% endif %}>{{ n|string }}</option>
        {% else %}
        <option>{{ n|string }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-12 col-sm-12 col-md-6">
      <select class="form-control text-center" name="{{ state }}">
        {% for n in ['OFF', 'AM', 'PM'] %}
        {% if edit_day %}
        {% set list = edit_day.split(' ') %}
          <option {% if list[1] == n|string %}selected{% endif %}>{{n}}</option>
        {% else %}
          <option>{{n}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
</div>
{% endmacro %}

<!-- Schedule row -->
{% macro insert_schedule_row(users, days_of_week, schedule_days, edit_sche, user) %}
{{ table_head_days(edit=false, days=days_of_week) }}
<tr>
  <td>
    {% if edit_sche %}
    {{ user.name }}
    {% else %}
    <select class="form-control text-center" name="name">
      {% for user in users %}
      <option value="{{ user.name }}">{{ user.name }}</option>
      {% endfor %}
    </select>
    {% endif %}
  </td>
  {% for day in schedule_days%}
    <td class="text-center">
      {% if edit_sche %}
      {{ select_hours(time=day.day+'_start', state=day.day+'_start_state', edit_day=day.tim_in) }}
      {{ select_hours(time=day.day+'_end', state=day.day+'_end_state', edit_day=day.tim_out) }}
      {% else %}
      {{ select_hours(time=day+'_start', state=day+'_start_state') }}
      {{ select_hours(time=day+'_end', state=day+'_end_state') }}
      {% endif %}
    </td>
  {% endfor %}
</tr>
{% endmacro %}

<!--Table head list of days-->
{% macro table_head_days(edit, days) %}
<thead>
  <tr class="light-green lighten-4">
    <td class="text-center font-weight-bold">Name</td>
    {% for day in days%}
    <td class="text-center font-weight-bold">{{day}}</td>
    {% endfor %}
    {% if edit %}
    <td class="bg-warning text-center text-white">EDIT</td>
    {% endif %}
  </tr>
</thead>
{% endmacro %}

<!--Generate a schedule table-->
{% macro schedule_table(schedule, edit_col, days) %}

<div class="row">
  <table class="table mt-2">
    {{ table_head_days(edit=edit_col, days=days) }}
    <tbody>
      {% for user_sch in schedule.week_schedule %}
      <tr>
        <td class="text-center">{{ user_sch.name }}</td>
        {% for day in user_sch.user_schedule %}
            <td class="text-center">{{day.tim_in}} - {{day.tim_out}}</td>
        {% endfor %}
        <td class="text-center">
          <a href="/schedule/edit/{{ user_sch.id }}">
            <i class="material-icons">edit</i>
          </a>
          <a href="" data-toggle="modal" data-target="#deleteModal{{ user_sch.id }}">
            <i class="material-icons" style="color: red;">delete_forever</i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!--This is the delete modal-->
{{ delete_schedule(week_schedule=schedule.week_schedule) }}

{% endmacro %}

<!--Schedule Delete modal loop-->
{% macro delete_schedule(week_schedule) %}
{% for user in week_schedule %}
{{ delete_modal(id=user.id, msg='Are you sure you want to delete the schedule for ', obj=user.name) }}
{% endfor %}
{% endmacro %}

<!--Delete Modal-->
{% macro delete_modal(id, msg, obj, form) %}
<div class="modal fade" id="deleteModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Schedule?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ msg }} {{obj}}?
      </div>
      {% if form %}
      <form action="/schedule/delete-week" method="post">
          <input type="hidden" name="id" value="{{id}}">
          <button type="submit" class="btn btn-raised red lighten-3 float-right mr-2">
            Delete
          </button>
      </form>
      {% else %}
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
        <a href="/schedule/delete/{{id}}" class="btn btn-danger btn-sm float-right mr-1">Delete</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}