{% from 'schedules/macros.html' import schedule_table %}

<div class="container-fluid">

  {% if schedule %}
  <div class="row mt-2">
    <h4 class="text-center">
      Schedule from
      {{ schedule.start_date.strftime('%B %d, %Y') }}
      <span class="blue-text"> To </span>
      {{ schedule.end_date.strftime('%B %d, %Y') }}
    </h4>
  </div>
  <table class="table">
    <thead>
      <tr class="light-green lighten-4">
        <td class="text-center font-weight-bold">Name</td>
        {% for day in days_of_week %}
          <td class="text-center font-weight-bold">{{ day }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for user in schedule.week_schedule %}
      <tr>
        <td class="text-center">{{ user.name }}</td>
        {% for day in user.user_schedule %}
            <td class="text-center">{{day.tim_in}} - {{day.tim_out}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>
