body {
  background: #fafafa;
  color: #333232;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 20px;
}

.bg-black {
  background-color: #0d1318;
}

h1 {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
h2 {
  color: #424242;
  font-weight:  bold;
}

.user-name { 
  color: rgb(201, 171, 134);
 }
 
.title {
  color: #07415c;
}

.title:hover {
  color: #636868;
}

.logout, .footer {
  color: rgb(153, 149, 149);
}
.logout:hover {
  color: rgb(211, 207, 207);
}

a {
  color: rgb(184, 41, 127);
}
a:hover {
  color: rgb(63, 101, 116);
  text-decoration: none;
}

.card {
  background: #faf9f9;
  border-radius: 5px !important;
}

.card:hover {
  background: #ffffff;
  border-radius: 5px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.unset-form {
  all: unset;
}

.urgent {
  background-color: #ff8a65;
}
.general{
  background-color: #b2dfdb;
}
.completed{
  background-color: #aed581;
}
.daily-task{
  background-color: #bcaaa4;
}

.urgent-text, .general-text, .completed-text, .dailytask-text {
  color: #000000;
  font-size: 16px;
}
.urgent-text:hover, .general-text:hover, .completed-text:hover, .dailytask-text:hover {
  color: #363434;
}

.date {
  color: rgb(0, 0, 0);
}
