<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='./css/style_BS.css') }}">
</head>

<body>

  <!-- Top navbar -->
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link mr-2" href="/messages">All Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-2" href="/schedule">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Grill</a>
          </li>
        </ul>
        {% if 'email' in session %}
        <form class="form-inline" action="/logout" method="POST">
          <input type="submit" value="Logout" class="btn btn-sm btn-outline-light">
          <a class="user-name ml-2" href="">{{ session['email'] }}</a>
        </form>
        {% endif %}
        {% if 'email' not in session %}
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Register</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
  </header>

  <!-- These are the notification navs -->
  {% block notification_navs %}{% endblock%}

  <!-- Flash messages -->
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-8">
        {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>

  {% block content%}{% endblock %}

  <!-- Navbar bottom -->
  <nav class="navbar bg-black fixed-bottom">
    <div class="container">
      <span class="footer float-left">&copy; 2019 | Adonay</span>
    </div>
  </nav>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

</body>

</html>