{% extends "base.html" %}

{% block content %}

<h1>Edit <span class="text-uppercase font-weight-bold">{{ message.title }}</span></h1>

<form method="POST">

  {{ form.hidden_tag() }} <!-- This is to protect from form forgery-->
  
  <div class="form-group">
    {{ form.title.label(class="form-control-label") }}
    {% if form.title.errors %}
      {{ form.title(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
    {% else %}
      {{ form.title(class="form-control form-control-lg") }}
    {% endif %}
  </div>

  <div class="form-group">
    {{ form.category.label(class="form-control-label") }}
    {{ form.category(class="form-control form-control-lg custom-select") }}
  </div>

  <div class="form-group">
    {{ form.shift.label(class="form-control-label") }}
    {{ form.shift(class="form-control form-control-lg custom-select") }}
  </div>
  
  <div class="form-group">
    {{ form.content.label(class="form-control-label") }}
    {% if form.content.errors %}
      {{ form.content(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.content.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
    {% else %}
      {{ form.content(class="form-control form-control-lg") }}
    {% endif %}
  </div>
  
  <div class="form-group">
    {{ form.submit(class="btns")}}
  </div>
</form>

{% endblock %}