<!-- Macro for tabs under all notifications (Urgent, General, Completed) -->
{% macro notification_navs(new_u, new_g) %}
<div class="container-fluid">
  <div class="row nav">
    <div class="col-sm-12 col-md-3 urgent nav-item">
      <a class="nav-link mb-2 mt-2 text-center urgent-text text-uppercase" href="/messages/urgent">Urgent
        {% if new_u %}
        <span class="badge ml-2 badge-pill badge-danger">NEW</span>
        {% endif %}
      </a>
    </div>
    <div class="col-sm-12 col-md-3 general nav-item">
      <a class="nav-link g mb-2 mt-2 text-center general-text text-uppercase" href="/messages/general">General
        {% if new_g %}
        <span class="badge ml-2 badge-pill badge-danger">NEW</span>
        {% endif %}
      </a>
    </div>
    <div class="col-sm-12 col-md-3 completed nav-item">
      <a class="nav-link c mb-2 mt-2 text-center completed-text text-uppercase" href="/completed">Completed</a>
    </div>
    <div class="col-sm-12 col-md-3 daily-task nav-item">
      <a class="nav-link d mb-2 mt-2 text-center dailytask-text text-uppercase" href="/daily-tasks">Daily Task</a>
    </div>
  </div>
</div>
{% endmacro %}

<!-- Macro for leave a note button -->
{% macro add_btn() %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-3 mt-1 mb-3">
      <button class="btn btn-dark" data-toggle="modal" data-target="#addModal">Leave a Note</button>
    </div>
  </div>
</div>
{% endmacro %}


<!-- Macro for a message box -->
{% macro message_box(message, all_messages, single_message, trunc) %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">
            <a href="/single/{{ message.id }}" class="title">{{ message.title }}</a>
            <form class="unset-form" method="POST" action="/completed/{{ message.id }}">
              <button type="submit" class="btn btn-info btn-sm float-right ml-2">
                {% if message.status%}
                Unmark Completed
                {% else %}
                Mark Completed
                {% endif %}
              </button>
            </form>
            {% if single_message %}
            <button class="btn btn-danger btn-sm float-right ml-2" data-toggle="modal"
              data-target="#deleteModal">Delete</button>
            <button class="btn btn-warning btn-sm float-right" data-toggle="modal"
              data-target="#editModal">Edit</button>
            {% endif %}
          </h4>
          <p class="card-text {{ trunc }}">{{ message.content }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            From | <a class="mr-2" href=""> {{ message.owner.name }}</a>
            To | <a class="mr-2" href=""> {{ message.shift }}</a>
            <a class="mr-2 date" href="">{{ message.pub_date.strftime('%d %b, %Y %I:%m %p') }}</a>
            <a class="mr-2 text-uppercase font-weight-bold" href="">{{ message.category }}</a>
            {% if message.status == 1 %}
            <i class="material-icons" style="vertical-align: middle;">done</i> | {{ message.completed_by }}
            {% endif %}
            {% if all_messages %}
            <a class="float-right" href="/single/{{ message.id }}">
              <i class="material-icons">settings</i>
            </a>
            {% endif %}
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}

<!-- Macro for the Add or edit Modal  -->
{% macro add_or_edit_modal(form, modal_id, add, edit, message) %}

<div class="modal fade" id={{ modal_id }} tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {% if add %}
        <h5 class="modal-title">New Message</h5>
        {% endif %}
        {% if edit %}
        <h5 class="modal-title">Edit ({{ message.title }})</h5>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      {% if add %}
      <form method="POST" action="/newpost">
        {% endif %}
        {% if edit %}
        <form method="POST" action="/single/{{ message.id }}/edit">
          {% endif %}

          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {% if form.title.errors %}
            {{ form.title(class="form-control form-control-lg is-invalid ") }}
            <div class="invalid-feedback">
              {% for error in form.title.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.title(class="form-control form-control-lg") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.category.label(class="form-control-label") }}
            {{ form.category(class="form-control form-control-lg custom-select") }}
          </div>

          <div class="form-group">
            {{ form.shift.label(class="form-control-label") }}
            {{ form.shift(class="form-control form-control-lg custom-select") }}
          </div>

          <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {% if form.content.errors %}
            {{ form.content(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.content.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.content(class="form-control form-control-lg", rows='5') }}
            {% endif %}
          </div>

          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div class="unset-form form-group">
          {{ form.submit(class="btn btn-dark")}}
        </div>
      </div>
      </form>
      </div>
    </div>
  </div>
</div>

{% endmacro %}
