{% macro notification_navs(new_u, new_g) %}
<div class="container-fluid">
  <div class="row nav">
    <div class="col-sm-12 col-md-3 urgent nav-item">
      <a class="nav-link mb-2 mt-2 text-center urgent-text" href="/messages/urgent">Urgent
        {% if new_u %}
        <span class="badge ml-2 badge-pill badge-danger">NEW</span>
        {% endif %}
      </a>
    </div>
    <div class="col-sm-12 col-md-3 general nav-item">
      <a class="nav-link g mb-2 mt-2 text-center general-text" href="/messages/general">General
        {% if new_g %}
        <span class="badge ml-2 badge-pill badge-danger">NEW</span>
        {% endif %}
      </a>
    </div>
    <div class="col-sm-12 col-md-3 completed nav-item">
      <a class="nav-link c mb-2 mt-2 text-center completed-text" href="/completed">Completed</a>
    </div>
    <div class="col-sm-12 col-md-3 daily-task nav-item">
      <a class="nav-link d mb-2 mt-2 text-center dailytask-text" href="/daily-tasks">Daily Task</a>
    </div>
  </div>
</div>
{% endmacro%}