{% extends "base.html" %}

{% block content %}


<div>
    <nav class="nav nav-tabs">
        <a class="nav-link" href="#">New</a>
        <a class="nav-link" href="#">General</a>
        <a class="nav-link" href="#">Daily Task</a>
      </nav>
</div>

<div>
  <a class="btn btn-outline-info note" href="{{ url_for('newpost') }}">Leave a Note</a>
</div>


<!-- Displaying all the messages on the main page -->
{% for message in messages %}
<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="">{{ message.title }}</a></h2>
    <p class="article-content">{{ message.body }}</p>
    <small class="text-muted">From | <a class="mr-2" href=""> {{ message.owner.email }}</a>Date
      |
      {{ message.pub_date }}</h6>
    </small>
  </div>
</article>
{% endfor %}





<!-- Individual message -->




<!-- Displaying all messages of a user -->



{% endblock %}