{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
  <div class="row nav">
    <div class="col-sm-12 col-md-3 urgent nav-item">
      <a class="nav-link mb-2 mt-2 text-center urgent-text" href="/messages/urgent">Urgent
        {% if new_u %}
        <span class="badge ml-2 badge-pill badge-danger">New</span>
        {% endif %}
      </a>
    </div>
    <div class="col-sm-12 col-md-3 general nav-item">
      <a class="nav-link g mb-2 mt-2 text-center general-text" href="/messages/general">General
        {% if new_g %}
        <span class="badge ml-2 badge-pill badge-danger">New</span>
        {% endif %}
      </a>
    </div>
    <div class="col-sm-12 col-md-3 completed nav-item">
      <a class="nav-link c mb-2 mt-2 text-center completed-text" href="/completed">Completed</a>
    </div>
    <div class="col-sm-12 col-md-3 daily-task nav-item">
      <a class="nav-link d mb-2 mt-2 text-center dailytask-text" href="/daily-tasks">Daily Task</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-3 mt-3 mb-3">
      <button class="btn btn-dark" data-toggle="modal" data-target="#addModal">Leave a Note</button>
    </div>
  </div>
</div>


<!-- Displaying all the messages on the main page -->
{% if messages %}
{% for message in messages %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title">
            <a href="/single/{{ message.id }}" class="title">{{ message.title }}</a>
            <form class="unset-form" method="POST" action="/completed/{{ message.id }}">
              <button type="submit" class="btn btn-info btn-sm float-right">{{ mark }}</button>
            </form>
          </h2>
          <p class="card-text text-truncate">{{ message.content }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            From | <a class="mr-2" href=""> {{ message.owner.name }}</a>
            To | <a class="mr-2" href=""> {{ message.shift }}</a>
            <a class="mr-2 date" href="">{{ message.pub_date }}</a>
            <a class="mr-2 text-uppercase font-weight-bold" href="">{{ message.category }}</a>
            {% if message.status == 1 %}
            <i class="material-icons" style="vertical-align: middle;">done</i> | {{ message.completed_by }}
            {% endif %}
            <a class="float-right" href="/single/{{ message.id }}">
              <i class="material-icons">settings</i>
            </a>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

<!-- This is the Add modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">New Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="POST" action="/newpost">
          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {% if form.title.errors %}
            {{ form.title(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.title.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.title(class="form-control form-control-lg") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.category.label(class="form-control-label") }}
            {{ form.category(class="form-control form-control-lg custom-select") }}
          </div>

          <div class="form-group">
            {{ form.shift.label(class="form-control-label") }}
            {{ form.shift(class="form-control form-control-lg custom-select") }}
          </div>

          <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {% if form.content.errors %}
            {{ form.content(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.content.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.content(class="form-control form-control-lg", rows='5') }}
            {% endif %}
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div class="unset-form form-group">
          {{ form.submit(class="btn btn-dark")}}
        </div>
      </div>
      </form>
    </div>
  </div>
</div>



{% endblock %}