{% extends "base.html" %}
{% from 'macros.html' import select_hours, insert_schedule_row %}
{% block content %}

<div class="container-fluid">
  <form action="/schedule/create">
    <table class="table">
      <thead>
        <tr>
          <td><button type="submit" class="btn btn-outline-dark">Generate Table</button></td>
        </tr>
        <tr>
          <th>Emp. Name</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        {{ insert_schedule_row(users) }}
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>

{% endblock %}