{% extends "base.html" %}
{% from 'macros.html' import gen_schedule_form %}
{% block content %}

<div class="container-fluid">
  <form action="{{url_for('schedules.add')}}" method='post'>

    <div class="row">
      <div class="col-1">
        <button class="btn btn-default">From:</button>
      </div>
      <div class="col-3">
        <div class="input-group">
          <input type="date" class="form-control" name='start_day' />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="material-icons">calendar_today</i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1">
        <button class="btn btn-default">To:</button>
      </div>
      <div class="col-3">
        <div class="input-group">
          <input type="date" class="form-control" name='end_day' />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="material-icons">calendar_today</i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <table class="table mt-2">
      <thead>
        <tr>
          <th>Emp. Name</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
        </tr>
      </thead>
      </tr>
      <tbody>
        {{ gen_schedule_form(form=form, users=users) }}
      </tbody>
    </table>
    <div class="row">
      <div class="col-12">
        {{ form.submit(class="btn btn-block btn-dark")}}
      </div>
    </div>
  </form>
  <table class="table mt-2">
    <thead>
      <tr>
        <th>Emp. Name</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
      </tr>
    </thead>
    <tbody>
      {% for user in current_users_on_schedule %}
      <tr>
        <td>user.name</td>
        <td>user.friday</td>
        <td>user.saturday</td>
        <td>user.sunday</td>
        <td>user.monday</td>
        <td>user.tuesday</td>
        <td>user.wednesday</td>
        <td>user.thursday</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}