{% extends "base.html" %}
{% block content %}

<form action="/signup" method="post" class="form-horizontal">

  <div class="form-group">
    <label for="email" class="col-sm-6 col-lg-4 col-form-label">Email</label>
    <div class="col-sm-6 col-lg-4">
      <input name="email" type="email" class="form-control" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="password" class="col-sm-6 col-lg-4 col-form-label">Password</label>
    <div class="col-sm-6 col-lg-4">
      <input name="password" type="password" id="password" class="form-control" placeholder="Password">
    </div>
  </div>

  <div class="form-group">
    <label for="verify" class="col-sm-6 col-lg-4 col-form-label">Verify Password</label>
    <div class="col-sm-6 col-lg-4">
      <input name="verify" type="password" id="verify" class="form-control" placeholder="Re-type Password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6 col-lg-4">
      <input type="submit" value="Login" class="btns">
    </div>
  </div>

</form>

{% endblock %}