{% extends "base.html" %}
{% from 'macros.html' import notification_navs%}

{% block notification_navs %}
<!-- This is a function to display the notification tabs: The two arguments are for the badges -->
{{ notification_navs(new_u, new_g) }}
{% endblock%}

{% block content %}

<!-- Displaying single message -->
{% if message %}
<div class="container-fluid mt-3 ">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title">
            <a href="" class="title">{{ message.title }}</a>
            <form class="unset-form" method="POST" action="/completed/{{ message.id }}">
              <button type="submit" class="btn btn-info btn-sm float-right ml-2">
                {% if message.status%}
                  Unmark Completed
                {% else %}
                  Mark Completed
                {% endif %}
              </button>
            </form>
            <button class="btn btn-danger btn-sm float-right ml-2" data-toggle="modal"
              data-target="#deleteModal">Delete</button>
            <button class="btn btn-warning btn-sm float-right" data-toggle="modal"
              data-target="#editModal">Edit</button>
          </h2>
          <p class="card-text">{{ message.content }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            From | <a class="mr-2" href=""> {{ message.owner.name }}</a>
            To | <a class="mr-2" href=""> {{ message.shift }}</a>
            <a class="mr-2 date" href="">{{ message.pub_date }}</a>
            <a class="mr-2 text-uppercase font-weight-bold" href="">{{ message.category }}</a>
            <i class="material-icons" style="vertical-align: middle;">done</i> | 
            {{ message.completed_by }}
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- This is the delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Message?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete ({{ message.title }}) ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
        <form class="unset-form" method="POST" action="/single/{{ message.id }}/delete">
          <button type="submit" class="btn btn-danger btn-sm float-right mr-1">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- This is the edit modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit ({{ message.title }})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="POST" action="/single/{{ message.id }}/edit">
          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {% if form.title.errors %}
            {{ form.title(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.title.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.title(class="form-control form-control-lg") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.category.label(class="form-control-label") }}
            {{ form.category(class="form-control form-control-lg custom-select") }}
          </div>

          <div class="form-group">
            {{ form.shift.label(class="form-control-label") }}
            {{ form.shift(class="form-control form-control-lg custom-select") }}
          </div>

          <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {% if form.content.errors %}
            {{ form.content(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.content.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.content(class="form-control form-control-lg", rows='5') }}
            {% endif %}
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div class="unset-form form-group">
          {{ form.submit(class="btn btn-dark")}}
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

{% endif %}



{% endblock %}