<!-- Macro for leave a note button -->
{% macro add_btn(title) %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-2 mt-1 mb-3">
      <button class="btn btn-raised font-weight-bold blue-grey darken-1 mr-2 white-text" data-toggle="modal"
        data-target="#addModal">{{ title }}</button>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6 mt-1 mb-3">
      <form action="/messages/search">
        <div class="bmd-form-group bmd-collapse-inline pull-xs-right">
          <button class="btn bmd-btn-icon" for="search" data-target="#collapse-search" aria-expanded="false"
            aria-controls="collapse-search">
            <i class="material-icons">search</i>
          </button>
          <span id="collapse-search">
            <input class="form-control" type="text" id="search" placeholder="Search notes ... " name='search_key'>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

{% endmacro %}

<!-- Badge animation -->
{% macro badge_anim() %}
<script>
  $(document).ready(function () {
    for (var i = 0; i < 300; i++) {
      $('#badge_u').fadeOut(900).fadeIn(900);
      $('#badge_g').fadeOut(900).fadeIn(900);
    }
  });
</script>
{% endmacro %}


<!-- Macro for a message box -->
{% macro message_box(message, all_messages, single_message, trunc) %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-10">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">
            <a href="/messages/single/{{ message.id }}" class="title">{{ message.title }}</a>
            <form class="unset-form" method="POST" action="/messages/completed/{{ message.id }}">
              <button type="submit" class="btn btn-raised btn-sm float-right ml-2 blue-grey darken-1 mr-2 white-text">
                {% if message.status%}
                Unmark<i class="fas fa-check ml-2"></i>
                {% else %}
                Mark<i class="fas fa-check ml-2"></i>
                {% endif %}
              </button>
            </form>
          </h4>
          <p class="card-text {{ trunc }}">{{ message.content }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            From | <a class="mr-2" href=""> {{ message.owner.name }}</a>
            To | <a class="mr-2" href=""> {{ message.shift }}</a>
            <a class="mr-2 date" href="">{{ message.pub_date.strftime('%d %b, %Y %I:%m %p') }}</a>
            <a class="mr-2 text-uppercase font-weight-bold" href="">{{ message.category }}</a>
            {% if message.status == 1 %}
            <i class="material-icons" style="vertical-align: middle;">done</i> | {{ message.completed_by }}
            {% endif %}
            {% if single_message %}

            <span class="dropdown float-right">
              <a href="#" role="button" id="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <button type="button" class="btn bmd-btn-icon ">
                  <i class="material-icons">settings</i>
                </button>
              </a>
              <div class="dropdown-menu" aria-labelledby="menu">
                <button class="btn float-right dropdown-item" data-toggle="modal"
                  data-target="#deleteModal">Delete</button>
                <button class="btn float-right dropdown-item" data-toggle="modal" data-target="#editModal">Edit</button>
              </div>
            </span>
            {% endif %}
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}

<!-- Macro for the Add or edit Modal  -->
{% macro add_or_edit_modal(form, modal_id, add, edit, message) %}

<div class="modal fade" id={{ modal_id }} tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {% if add %}
        <h5 class="modal-title">New Message</h5>
        {% endif %}
        {% if edit %}
        <h5 class="modal-title">Edit ({{ message.title }})</h5>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if add %}
        <form method="POST" action="/newpost">
          {% endif %}
          {% if edit %}
          <form method="POST" action="/messages/single/{{ message.id }}/edit">
            {% endif %}

            {{ form.hidden_tag() }}

            <div class="form-group">
              {{ form.title.label(class="bmd-label-floating") }}
              {% if form.title.errors %}
              {{ form.title(class="form-control is-invalid ") }}
              <div class="invalid-feedback">
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.title(class="form-control") }}
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.category.label(class="bmd-label-floating") }}
              {{ form.category(class="form-control") }}
            </div>

            <div class="form-group">
              {{ form.shift.label(class="bmd-label-floating") }}
              {{ form.shift(class="form-control") }}
            </div>

            <div class="form-group">
              {{ form.content.label(class="bmd-label-floating") }}
              {% if form.content.errors %}
              {{ form.content(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.content.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.content(class="form-control", rows='5') }}
              {% endif %}
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-raised mr-3 grey lighten-2" data-dismiss="modal">Close</button>
              <div class="unset-form form-group">
                {{ form.submit(class="btn btn-raised font-weight-bold blue-grey darken-1 mr-2 white-text")}}
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
{% endmacro %}


<!-- Delete modal macro -->
{% macro delete_modal(id, obj) %}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete ({{ obj.title }}) ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
        <form class="unset-form" method="POST" action="/messages/single/{{ obj.id }}/delete">
          <button type="submit" class="btn btn-danger btn-sm float-right mr-1">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- Tasks table  -->
{% macro task_table(title, shift, head_color, icon_color) %}
<div class="col-sm-12 col-md-4">
  <div>
    <table class="table">
      <tr>
        <th class="text-center {{ head_color }}">{{ title }}</th>
      </tr>
      {% for task in shift %}
      <tr>
        <td>
          <span class="dropdown">
            <a href="#" role="button" id="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if task.category == 'high' %}
              <i class="fas fa-dot-circle red-text"></i>
              {% else %}
              <i class="fas fa-dot-circle green-text"></i>
              {% endif %}
              {% if task.status %}
              <button type="button" class="btn bmd-btn-icon ">
                <i class="material-icons">done_all</i>
              </button>
              {% else %}
              <button type="button" class="btn bmd-btn-icon ">
                <i class="material-icons">more_vert</i>
              </button>
              {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="menu">
              <a href="/daily-tasks/{{ task.id }}/mark" class="dropdown-item">
                {% if task.status %}
                Not Completed
                {% else %}
                Completed
                {% endif %}
              </a>
              <a href="/daily-tasks/{{ task.id }}/delete" class="dropdown-item">Delete</a>
            </div>
          </span>
          {{ task.content }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endmacro %}


<!-- Add task modal macro -->
{% macro add_modal(id, title, form) %}
<div class="modal fade" id={{ id }} tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="POST" action="/daily-tasks/add">
          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.shift.label(class="bmd-label-floating") }}
            {{ form.shift(class="form-control") }}
          </div>

          <div>
            {{ form.category.label(class="bmd-label-floating") }}
            {% for cat in form.category %}
            <div class="radio">
              {{ cat }} {{ cat.label(class="black-text") }}
            </div>
            {% endfor %}
          </div>

          <div class="form-group">
            {{ form.content.label(class="bmd-label-floating") }}
            {% if form.content.errors %}
            {{ form.content(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.content.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.content(class="form-control", rows='5') }}
            {% endif %}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-raised mr-4 grey lighten-2" data-dismiss="modal">Close</button>
        <div class="unset-form form-group">
          {{ form.submit(class="btn btn-raised blue-grey darken-1 mr-2 white-text")}}
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

{% endmacro %}

<!-- Pagination -->

{% macro pagination(messages, cat) %}

<ul class="pagination pagination-sm ">
  {% for page_num in messages.iter_pages() %}
  {% if page_num %}
  {% if messages.page == page_num %}
  <li class="page-item active"><a class='page-link'
      href="{{ url_for('all_messages.messages', category=cat, page=page_num) }}">{{ page_num }}</a></li>
  {% else %}
  <li class="page-item"><a class='page-link' class='pag'
      href="{{ url_for('all_messages.messages', category=cat, page=page_num) }}">{{ page_num }}</a></li>
  {% endif %}
  {% else %}
  ...
  {% endif %}
  {% endfor %}
</ul>

{% endmacro %}