{% extends "base.html" %}
{% from 'macros.html' import notification_navs, message_box, add_or_edit_modal %}

{% block notification_navs %}
<!-- This is a function to display the notification tabs: The two arguments are for the badges -->
{{ notification_navs(new_u, new_g) }}
{% endblock%}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-3 mt-1 mb-3">
      <button class="btn btn-dark" data-toggle="modal" data-target="#addModal">Leave a Note</button>
    </div>
  </div>
</div>

<!-- Displaying all the messages on the main page -->
{% if messages %}
  {% block message_box %}
    {% for message in messages %}
      {{ message_box(message, all_messages = true, trunc = 'text-truncate') }}
    {% endfor %}
  {% endblock%}
{% endif %}

{% block add_or_edit_modal %}
{{ add_or_edit_modal(form=form, modal_id='addModal', add=true) }}
{% endblock%}

{% endblock %}