{% extends "layout/base.html" %}
{% from 'layout/macros.html' import notification_navs %}
{% from 'messages/macros.html' import message_box, add_or_edit_modal, add_btn, delete_modal %}

{% block notification_navs %}
<!-- This is a function to display the notification tabs: The two arguments are for the badges -->
{{ notification_navs(new_u, new_g) }}
{% endblock%}

{% block content %}

<!-- Leave a note button -->
{{ add_btn() }}

<!-- Displaying single message -->
{% if message %}
{{ message_box(message, single_message = true) }}

<!-- This is the edit modal -->
{{ add_or_edit_modal(form=add_form, modal_id="addModal", add=true) }}

{{ add_or_edit_modal(form = edit_form,
                modal_id = "editModal",
                edit = true,
                message = message) }}

<!-- This is the delete modal -->
{{ delete_modal(id='deleteModal', obj=message) }}

{% endif %}

{% endblock %}

{% block scripts%}
<script>
  $(document).ready(function () {    
    for (var i = 0; i < 300; i++) {
      $('#badge_u').fadeOut(900).fadeIn(900);
      $('#badge_g').fadeOut(900).fadeIn(900);
    }
  });
</script>
{% endblock %}