{% extends "layout/base.html" %}
{% from 'layout/macros.html' import notification_navs %}
{% from 'messages/macros.html' import add_btn, task_table, add_modal, badge_anim %}

{% block notification_navs %}
<!-- This is a function to display the notification tabs: The two arguments are for the badges -->
{{ notification_navs(new_u, new_g) }}
{% endblock%}

{% block content %}

{{ add_btn(title='Add a Task') }}

<div class="container-fluid">
  <div class="row">
    {{ task_table(title='Mornings', shift=mornings, head_color='th-m', icon_color='#bdae27') }}
    {{ task_table(title='Afternoons', shift=afternoons, head_color='th-a', icon_color='#667eb1') }}
    {{ task_table(title='Evenings', shift=evenings, head_color='th-e', icon_color='#b4a3a3') }}
  </div>
  {{ add_modal(id='addModal', title='New Task', form=form) }}
</div>

{% endblock %}

{% block scripts%}
{{ badge_anim() }}
{% endblock %}