<!-- Macro for tabs under all notifications (Urgent, General, Completed) -->
{% macro notification_navs(new_u, new_g) %}
<div class="container-fluid mt-1">
  <div class="row nav">
    <div class="col-sm-12 col-md-3 nav-item deep-orange lighten-3">
      <a class="nav-link mb-2 mt-2 text-center urgent-text text-uppercase" href="/messages/urgent">Urgent
        {% if new_u %}
        <span class="badge ml-2 badge-pill badge-light" id="badge_u">NEW</span>
        {% endif %}
      </a>
    </div>
    <div class="col-sm-12 col-md-3 nav-item teal lighten-3">
      <a class="nav-link g mb-2 mt-2 text-center general-text text-uppercase" href="/messages/general">General
        {% if new_g %}
        <span class="badge ml-2 badge-pill badge-light" id="badge_g">NEW</span>
        {% endif %}
      </a>
    </div>
    <div class="col-sm-12 col-md-3 nav-item green lighten-3">
      <a class="nav-link c mb-2 mt-2 text-center completed-text text-uppercase" href="/completed">Completed</a>
    </div>
    <div class="col-sm-12 col-md-3 nav-item brown lighten-4">
      <a class="nav-link d mb-2 mt-2 text-center dailytask-text text-uppercase" href="/daily-tasks">Daily Tasks</a>
    </div>
  </div>
</div>
{% endmacro %}