{% extends "layout/base.html" %}

{% block content %}

<div class="container-fluid">

  <table class="table">
    <thead>
      <th style="width: 15%;">Foods</th>
      <th style="width: 15%;">Timers</th>
    </thead>
    <tbody>
      <tr>
        <td id="timerPlace">Hot Dog</td>
        <td>
          <button class="btn btn-dark" id="add">ADD<i class="far fa-clock ml-2"></i></button>
        </td>
      </tr>
      <tr>
        <td id="timerPlace">Cheeseburger</td>
        <td>
          <button class="btn btn-dark" id="add">ADD<i class="far fa-clock ml-2"></i></button>
        </td>
      </tr>
      <tr>
        <td id="timerPlace">BBQ Hot Dog</td>
        <td>
          <button class="btn btn-dark" id="add">ADD<i class="far fa-clock ml-2"></i></button>
        </td>
      </tr>
      <tr>
        <td>Select Food</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}



{% block scripts%}

<script src="{{  url_for('static', filename='./js/grill.js') }}"></script>
<script src="{{  url_for('static', filename='./js/lib/moment.js') }}"></script>

{% endblock %}