{% extends "layout/base.html" %}

{% block content %}

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12 col-md-3 mt-1 mb-3">
      <button class="btn btn-raised font-weight-bold blue-grey darken-1 mr-2 white-text" id="addRow">Add Food</button>
    </div>
  </div>

  <h1 class="text-center">Virtual Grill</h1>

  <div class="row mt-2 header">
    <div class="col-2 brown lighten-3">
      <h2>Foods</h2>
    </div>
    <div class="col blue lighten-4">
      <h2>Timers</h2>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-2 timerPlace">Hot Dog</div>
    <div class="col-2">
      <button class="btn btn-raised btn-dark addB" id="Hot-Dog">
        ADD<i class="far fa-clock ml-2"></i>
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-2 timerPlace">BBQ Hot Dog</div>
    <div class="col-2">
      <button class="btn btn-raised btn-dark addB" id="BBQ-Hot-Dog">
        ADD<i class="far fa-clock ml-2"></i>
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-2 timerPlace">Chs Brg Bite</div>
    <div class="col-2">
      <button class="btn btn-raised btn-dark addB" id="Chs-Brg-Bite">
        ADD<i class="far fa-clock ml-2"></i>
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-2 timerPlace">Taco Chs</div>
    <div class="col-2">
      <button class="btn btn-raised btn-dark addB" id="Taco-Chs">
        ADD<i class="far fa-clock ml-2"></i>
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-2 timerPlace">Mont Jack</div>
    <div class="col-2">
      <button class="btn btn-raised btn-dark addB" id="Mont-Jack">
        ADD<i class="far fa-clock ml-2"></i>
      </button>
    </div>
  </div>


</div>

{% endblock %}



{% block scripts%}

<script src="{{  url_for('static', filename='./js/grill.js') }}"></script>
<script src="{{  url_for('static', filename='./js/libs/countDownTimer.js') }}"></script>

{% endblock %}